BRIGHT_DATA_MODE=demo
BRIGHT_DATA_API_KEY=your_bright_data_api_key_here
BRIGHT_DATA_SERP_ENDPOINT=https://api.brightdata.com/request
BRIGHT_DATA_WEB_UNLOCKER_ZONE=your_web_unlocker_zone
BRIGHT_DATA_BROWSER_ZONE=your_scraping_browser_zone

